

NODE_ENV=development
PORT=5000
APP_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000

DATABASE_URL="postgres://f62b05c4f81b0e3a564d9e62916e94d3cc689c0a03b93cd74cbe3b79bbf44da6:sk_X1Lkakhmil4BFlcS-7ZyP@pooled.db.prisma.io:5432/postgres?sslmode=verify-full"




BCRYPT_SALT_ROUNDS=8
JWT_ACCESS_SECRET=change-this-access-secret
JWT_REFRESH_SECRET=change-this-refresh-secret
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=30d

GOOGLE_CLIENT_ID=567651629344-f4hvi65oho7tmujcldknah171c3v8jth.apps.googleusercontent.com


SUPER_ADMIN_NAME="Super Admin"
SUPER_ADMIN_EMAIL=superadmin@dispatch.com
SUPER_ADMIN_PASSWORD=ChangeMe123!


REDIS_HOST=rabbits-vest-designed-49815.db.redis.io
REDIS_PORT=14009
REDIS_USER=default
REDIS_PASSWORD=bt4Fj2FrqSE2DN7889zO96qk4l2KHwtl


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=huryra80@gmail.com
SMTP_PASSWORD=rqwt jrag qnlf qoii
EMAIL_SENDER=huryra80@gmail.com

CLOUDINARY_CLOUD_NAME=hc7x12mm
CLOUDINARY_API_KEY=783895586133844
CLOUDINARY_API_SECRET=DMMIq77aHWD87Sv2VmNSA5RCRFE



BKASH_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta
BKASH_USERNAME=sandboxTokenizedUser02
BKASH_PASSWORD=sandboxTokenizedUser02@12345
BKASH_APP_KEY=4f6o0cjiki2rfm34kfdadl1eqq
BKASH_APP_SECRET=2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b
BKASH_CALLBACK_URL=http://localhost:5000/api/v1/payments/bkash/callback


SSLCOMMERZ_STORE_ID=progr6a588700679de
SSLCOMMERZ_STORE_PASSWORD=progr6a588700679de@ssl
SSLCOMMERZ_IS_LIVE=false
SSLCOMMERZ_SANDBOX_URL=https://sandbox.sslcommerz.com/gwprocess/v4/invoice.php
SSLCOMMERZ_SUCCESS_URL=http://localhost:5000/api/v1/payments/sslcommerz/success
SSLCOMMERZ_FAIL_URL=http://localhost:5000/api/v1/payments/sslcommerz/fail
SSLCOMMERZ_CANCEL_URL=http://localhost:5000/api/v1/payments/sslcommerz/cancel
SSLCOMMERZ_IPN_URL=http://localhost:5000/api/v1/payments/sslcommerz/ipn
